body{
    background-color: #201d20;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 3s;
    /* animation: move 3s 0s ease-in-out infinite alternate; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #201d20 0%, #161616 0%, #333333 100%);
}

h1{
    display:flex;

    justify-content: center;
    flex-direction:column;
    font-size: 24px;

    background-color: #b10000;
    padding: 10px;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    max-width: 1200px;
    gap: 10px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;

    background-color: rgb(19, 19, 19);
}

.text_main{
    display: grid;
    grid-template-columns: repeat(auto-fill, 900px);
    max-width: 1200px;
    gap: 10px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;

    background-color: rgb(19, 19, 19);
}

.text_main p{
    font-size: 24px;
}

.text_main a{
    color: inherit;
    text-decoration: none;
    list-style: none;
    color:rgb(255, 4, 4) ;
}

.channels{
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.tracks{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 100px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin: 20px auto;
}

.buttons__card{
    background-color: #ff0000;

    max-width: 150px;
    font-size: 32px;
    display:flex;

    justify-content: center;
    flex-direction:column;

    padding: 20px;
    padding-left: 9px;
    transition: 0.3s;
}

.buttons__card a{
    font-size: 32px;
    color: inherit;
    text-decoration: none;
    list-style: none;
}

.buttons__card:hover{
    background-color: #cc0000;
}

.text{     
    background-color: #ffdffd; 
    max-width: 800px;
    font-size: 32px;
    display:flex;

    transition: 0.3s;
}

.text a{
    color:rgb(0, 0, 0) ;
    text-decoration: none;
    list-style: none;
}

.channel__card{
    border-radius: 20px;

    font-size: 20px;

    max-width: 250px;
    display: flex;

    justify-content: center;
    flex-direction: column;

    padding: 20px;
    transition: 0.3s;

    box-shadow: 2px 2px 2px 2px #000000;
}

.channel__card a{
    font-size: 24px;
    color: inherit;
    text-decoration: none;
    list-style: none;
}

.channel__card img{
    background-color: #fff;
    border-radius: 2px;
}

.track__card{
    background-color: #1a1a1a;
    font-size: 12px;

    border-radius: 4px;

    width: 250px;
    display: flex;

    justify-content: center;
    flex-direction: column;

    padding: 20px;
    transition: 0.3s;
}

.track__card a{
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    list-style: none;
}

.track__card img{
    height: 250px;
    width: 250px;
}

.track__card audio{
    width: 250px;
}

.track__card:hover{
    transform: scale(1.1);
    background-color: #000000;
}

@media screen and (max-width: 768px) {
    .track__card{
        font-size: 8px;

        border-radius: 4px;

        width: 180px;
        display: flex;

        justify-content: center;
        flex-direction: column;

        padding: 20px;
        transition: 0.3s;
    }

    .track__card a{
        font-size: 15px;
        color: inherit;
        text-decoration: none;
        list-style: none;
    }
    
    .track__card img{
        height: 180px;
        width: 180px;
    }
    
    .track__card audio{
        width: 180px;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 120px);
        max-width: 1200px;
        gap: 10px;
        padding: 20px;
        width: 100%;
        margin: 0 auto;
    
        background-color: rgb(19, 19, 19);
    }

    .channel__card{
        border-radius: 20px;
    
        font-size: 15px;
    
        max-width: 200px;
        display: flex;
    
        justify-content: center;
        flex-direction: column;
    
        padding: 20px;
        transition: 0.3s;
    
        box-shadow: 2px 2px 2px 2px #000000;
    }
    
    .channel__card a{
        font-size: 24px;
        color: inherit;
        text-decoration: none;
        list-style: none;
    }
    
    .channel__card img{
        background-color: #fff;
        border-radius: 2px;
    }
    
    .channels{
        padding-top: 20px;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 150px);
        gap: 20px;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    
    .tracks{
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 130px);
        gap: 100px;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin: 20px auto;
    }

    .text_main{
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        max-width: 700px;
        gap: 10px;
        padding: 20px;
        margin: 0 auto;
    
        background-color: rgb(19, 19, 19);
    }
}

.channel__card:hover{
    transform: scale(1.05);
    background-color: #0e0e0e
}

.channel_profile{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.channel_profile h2{
    padding-top: 20px;
    font-size: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.channel_profile h2{
    padding-top: 20px;
    font-size: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.channel_profile p{
    padding-top: 20px;
    font-size: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.user{
    border-radius: 20px;

    font-size: 20px;

    max-width: 250px;
    display: flex;

    justify-content: center;
    flex-direction: column;

    padding: 20px;
    transition: 0.3s;

    box-shadow: 2 2 2 2 #000000;
}

.user:hover{
    transform: scale(1.05);
}


@keyframes move{
    from{
        background: linear-gradient(90deg, #201d20 0%, #272727 0%, #000000 100%);
        /* background-color: #201d20; */
        /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(70,70,70,1) 100%); */
    }

    to{
        background: linear-gradient(90deg, #201d20 0%, #272727 0%, #000000 100%);
        /* background: #252525; */
        /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(70,70,70,1) 0%, rgba(0,0,0,1) 100%); */
    }
}


.red_text {
    color:rgb(255, 0, 0) ;
    text-decoration: none;
    list-style: none;
}